body{
    background-color: #87A878;
 
}

*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: #87A878;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A3E27;
    width: 100%;
    height: 90px;
}
.logo{
    width: 110px;
    cursor: pointer;
    z-index: 1;
    margin-left: 60px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#hoofdtekstmenu1{
    top: -80%;
    left: 780px;
    width: 550px;
    height: 600px;
    position: relative;
    color: #fff;
}

#tekstmenu1{
    top: -1100px;
    left: 780px;
    width: 550px;
    height: 600px;
    position: relative;
    color: #fff;
}

#eetbank{
    top: -1890px;
    left: 100px;
    width: 35%;
    height: 620px;
    position: relative;
}

#broodjeluna{
    top: -1950px;
    left: 780px;
    width: 15%;
    position: relative;
}

#hoofdtekstmenu2{
    top: -2350px;
    left: 100px;
    position: relative;
    color: #fff;
}

#tekstmenu2{
    top: -2300px;
    left: 100px;
    width: 550px;
    height: 100px;
    position: relative;
    color: #fff;

}

#hoofdtekstmenu3{
    top: -1950px;
    left: 680px;
    width: 550px;
    height: 400px; 
    position: relative;
    color: #fff;
}

#lunchbowl{
    top: -2250px;
    left: 100px;
    width: 15%;
    position: relative;
}

#tekstblokje{
    top: -2620px;
    left: 800px;
    width: 550px;
    height: 600px;
    position: relative;
    color: #fff;
}

#linkontbijt{
    top:-1300px;
    left: 780px;
    width: 55px;
    height: 60px;
    position: relative;
    color: #fff;
}

#linklunch{
    top:-850px;
    left: 100px;
    width: 55px;
    height: 60px;
    position: relative;
    color: #fff;
}

#linkdiner{
    top:-220px;
    left: 680px;
    width: 55px;
    height: 60px;
    position: relative;
    color: #fff;
}
footer {
    font-family: 'Roboto';
    font-size: 80%;
    text-align: left;
    padding: 5%;
    background-color: #2A3E27;
    color: white;
    margin-top: -150%;
}
#insta{
    margin-top: -5%;
    margin-left: 70%;
}
#facebook{
    margin-top: -6%;
    margin-left: 80%;
}